@charset "UTF-8";

#container3col { /*  Container background image, changes based on number of columns */
	background-image: url('/images/bkrnd3Col.gif');
	background-repeat: repeat-y;
	background-position: top left;
}

/* Main content 3 coloumn */
#mainContent3 {
	float: left;
	width: 558px;
	padding: 0 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	background-image: url('/images/header_3-3col.jpg');
	background-repeat: no-repeat;
	background-position: 2px 0;
	padding-bottom: 10px;
	color: #000;
	margin: 0;
}

/* Right Column */
/* Check to make sure font names are consistent */
#contentRt{	
	float: left;
	width: 220px; /* 220 */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .9em;
	margin: 0;
	padding-bottom: 10px;
	color: #000;
}
/* Start search boxes */
.contentRtSearch{ /* For search boxes */
	background-color: #c9eafc;
	border-bottom: 1px solid #1658a6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	padding: 8px 0;
	color: #1d5399;
}
.contentRtSearch select {
	width: 90%;
	font-size: .8em;
}

#contentRt a:link, #contentRt a:visited {
	color: #000;
	text-decoration: none;
}
    /* Links style for right column */
#contentRt a:hover, #contentRt a:active {
	color: #1d5399; 
	text-decoration: underline;
}
input.btnGoRt {
	border: none;
	vertical-align: top;
	width: 150px;
	height: 17px;
	margin: .4em 0 0 0;
	padding: 0;
	background-color: #1d5399;
	background-image: url('/images/btnGoUp.gif');
}
input.btnRtHov {
	border: none;
	width: 150px;
	height: 17px;
	background-color: #1d5399;
	background-image: url('/images/btnGoDn.gif');
}
/* End Searchg boxes *
/* Right content blue band heads */
.contentRtBox {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size-adjust: none;
	font-size: 11px;
	color: #FFF;
	text-align: center;
	line-height: 14px;
	margin: -1px 0;
	padding: 2px 0 4px 0;
	background-color: #1d5399;
}
#contentRt p {
	padding: 0 10px 7px;
	margin: 7px 0 0 0;
}
.contentRtDots {
border-bottom: dotted 1px #406187;
}

/*  Left Column */

/* Left column Links */
#contentLft a:link, #contentLft a:visited { 
color: #000;
text-decoration: none;
}

#contentLft p {
	padding: 0 10px 7px;
	margin: 7px 0 0 0;
}

#contentLft a:hover, #contentLft a:active {
color: #34916f; /* 9A272D */
text-decoration: underline;
}
#contentLft{
	float: left;
	width: 186px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .9em;
	padding-bottom: 10px;
	color: #000;
	margin: 0;
}
/* For dotted rule between links in left box */
.columnLeftDots {
border-bottom: dotted 1px #34916f;
}
/* Left column green band heads */
.colLftBox {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size-adjust: none;
	font-size: 11px;
	color: #FFF;
	text-align: center;
	line-height: 14px;
	margin: -1px 0; /* top margin -1 overlays the dotted line */
	padding: 2px 0 4px 0;
	background-color: #34916f;
}
#contentLft h1{ 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	margin: 4px 0 -10px 0;
	border: none;
	color: #1d5399;
}

.colRtTint{
border-bottom:solid 2px #1658A6;
background-color:#C9EAFC;
padding-top:1px;

}

.colRtHead1{
padding-top: 6px !important;
padding-bottom: 5px !important;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 12px;
color: #1658a6;
text-align: left;
border-bottom: solid 2px #1658a6;

}












